# Format: email:parol
# Har bir hisob uchun bitta qator
# Misol:
# user1@gmail.com:parol123
# user2@gmail.com:parol456
# user3@gmail.com:parol789

# Google hisoblaringizni bu yerga qo'shing:
# email1@gmail.com:parol1
# email2@gmail.com:parol2